﻿@model LightmakerScheduleManager.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h3><b>Schedule for:</b> @Model.StartDay.ToString("dddd M/d/yyyy") - @Model.EndDay.Date.ToString("dddd M/d/yyyy")</h3>

    @foreach (var team in Model.ScheduleForWeek.Select(x => x.User.Team))
    {
        <div class="team-schedule-container">
            <h4><strong>@team.Name</strong></h4>

            <table class="schedule-table">
                <tbody>
                    <tr>
                        <th>Team Member:</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    @foreach (var user in Model.ScheduleForWeek.Select(x => x.User))
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>
                                @{var monday = Model.ScheduleForWeek.FirstOrDefault(x => x.User.Id == user.Id && x.Date.DayOfWeek == DayOfWeek.Monday);}
                                @if (monday != null)
                                {
                                    <span>@monday.Abbreviation (@monday.Hours)</span>
                                }
                            </td>
                            <td>
                                @{var tuesday = Model.ScheduleForWeek.FirstOrDefault(x => x.User.Id == user.Id && x.Date.DayOfWeek == DayOfWeek.Tuesday);}
                                @if (tuesday != null)
                                {
                                    <span>@monday.Abbreviation (@monday.Hours)</span>
                                }
                            </td>
                            <td>
                                @{var wednesday = Model.ScheduleForWeek.FirstOrDefault(x => x.User.Id == user.Id && x.Date.DayOfWeek == DayOfWeek.Wednesday);}
                                @if (wednesday != null)
                                {
                                    <span>@monday.Abbreviation (@monday.Hours)</span>
                                }
                            </td>
                            <td>
                                @{var thursday = Model.ScheduleForWeek.FirstOrDefault(x => x.User.Id == user.Id && x.Date.DayOfWeek == DayOfWeek.Thursday);}
                                @if (thursday != null)
                                {
                                    <span>@monday.Abbreviation (@monday.Hours)</span>
                                }
                            </td>
                            <td>
                                @{var friday = Model.ScheduleForWeek.FirstOrDefault(x => x.User.Id == user.Id && x.Date.DayOfWeek == DayOfWeek.Friday);}
                                @if (friday != null)
                                {
                                    <span>@monday.Abbreviation (@monday.Hours)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>