﻿@{
    ViewBag.Title = "Login";
}
<div class="jumbotron">
    <h3><b>Schedule Administrator Login</b></h3>
    <p>Please enter your AtTask Username and Password:</p>
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        <div class="field-container">
            <label class="login-label" for="Username">User Name:</label>
            @Html.TextBox("Username", "", new { @class = "form-control" })
        </div>
        <div class="field-container">
            <label class="login-label" for="Password">Password:</label>
            @Html.Password("Password", "", new { @class = "form-control" })        
        </div>
        <input class="btn btn-default login-btn" type="submit" value="Login" />
    }

</div>