﻿@model LightmakerScheduleManager.Models.Edit.ScheduleViewModel
@{
    ViewBag.Title = "Edit Schedule";
}
<div class="jumbotron">
    <div class="admin-breadcrumb">
        <p><a href="/Admin/Teams">Teams</a> > <a href="/Admin/Users/@Model.User.Team.Id">@Model.User.Team.Name</a> > @Model.User.Name </p>
    </div>
    <div class="page-content">
        <div class="team-schedule-container edit-schedule-row">
            <h4><strong>Currently Assigned Tasks:</strong></h4>
            <table class="schedule-table">
                <tbody>
                    <tr>
                        <th>Project</th>
                        <th>Task</th>
                        <th>Due Date</th>
                        <th>Total Hours</th>
                        <th>Hours Remaining</th>
                    </tr>
                    @foreach (var task in Model.Tasks.Where(x => x.AssignedUsers.Contains(Model.User)))
                    {
                        <tr>
                            <td>@task.Project.Name</td>
                            <td>@task.Name</td>
                            <td>@task.DueDate</td>
                            <td>@task.TotalHours</td>
                            <td>@(task.TotalHours - task.UsedHours)</td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" class="btn btn-default" value="Add New Task">
            <div class="new-entry-container task-assign">
                <span class="new-task-title">Select a Task to Assign:</span>
                <div class="inner-form">
                    <select class="form-control task-list">
                        @foreach (var task in Model.Tasks.Where(x => !x.AssignedUsers.Any(y => y.Id == Model.User.Id)))
                        {
                            <option value="@task.Id">@task.Project.Name - @task.Name</option>
                        }
                    </select>

                    <input class="btn btn-default btn-assign" type="submit" value="Assign Task" />
                </div>
            </div>
        </div>
        <div class="team-schedule-container edit-schedule-row">
            <div class="week-table-heading">
                <span class="schedule-heading"><strong>Current Assigned Hours:</strong></span>
                <span class="dates">@Model.StartDay.ToString("dddd M/d/yyyy") - @Model.EndDay.Date.ToString("dddd M/d/yyyy")</span>
            </div>
            <table class="work-table">
                <tbody>
                    <tr>
                        <th>Task:</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    @foreach (var task in Model.Tasks.Where(x => x.AssignedUsers.Contains(Model.User)))
                    {
                        var monday = (Model.WeeklySchedule != null ? Model.WeeklySchedule.FirstOrDefault(x => x.Task.Id == task.Id && task.AssignedUsers.Contains(x.User) && Model.StartDay == x.Date) : null);
                        var tuesday = (Model.WeeklySchedule != null ? Model.WeeklySchedule.FirstOrDefault(x => x.Task.Id == task.Id && task.AssignedUsers.Contains(x.User) && Model.StartDay.AddDays(1) == x.Date) : null);
                        var wednesday = (Model.WeeklySchedule != null ? Model.WeeklySchedule.FirstOrDefault(x => x.Task.Id == task.Id && task.AssignedUsers.Contains(x.User) && Model.StartDay.AddDays(2) == x.Date) : null);
                        var thursday = (Model.WeeklySchedule != null ? Model.WeeklySchedule.FirstOrDefault(x => x.Task.Id == task.Id && task.AssignedUsers.Contains(x.User) && Model.StartDay.AddDays(3) == x.Date) : null);
                        var friday = (Model.WeeklySchedule != null ? Model.WeeklySchedule.FirstOrDefault(x => x.Task.Id == task.Id && task.AssignedUsers.Contains(x.User) && Model.StartDay.AddDays(4) == x.Date) : null);
                        
                        <tr>
                            <td><b>@task.Project.Name</b> - @task.Name</td>

                            <td><input type="submit" class="btn btn-default sch-btn" value="@monday" /></td>
                            <td><input type="submit" class="btn btn-default sch-btn" value="@tuesday" /></td>
                            <td><input type="submit" class="btn btn-default sch-btn" value="@wednesday" /></td>
                            <td><input type="submit" class="btn btn-default sch-btn" value="@thursday" /></td>
                            <td><input type="submit" class="btn btn-default sch-btn" value="@friday" /></td>
                        </tr>
                    }                    
                </tbody>
            </table>
            <div class="new-entry-container hours-assign">
                <span class="new-task-title">Edit Hour Assignment:</span>
                <div class="inner-form">
                    <p class="task-data"><strong>Project:</strong> NA - GlobalMe Mobile Development</p>
                    <p class="task-data"><strong>Task:</strong> L&F amended & delivered</p>
                    <p class="task-data"><strong>Abbreviation for Calendar:</strong><input type="text" class="form-control" /></p>
                    <p class="task-data"><strong>Due Date:</strong> 2/13/2014 8:30:00 PM</p>
                    <p class="task-data"><strong>Selected Work Day:</strong> Monday 2/10/2014</p>
                    <p class="task-data"><strong>Total Hours:</strong> 4</p>                    
                    <p class="task-data"><strong>Hours to Work:</strong><input type="text" class="form-control" /></p>
                    <p class="task-data"><strong>Hours Remaining After Work:</strong> -10</p>
                    <input class="btn btn-default btn-assign" type="submit" value="Register Hours" />
                </div>
            </div>
        </div>
    </div>
</div>