﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Lightmaker Schedule Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <h2 class="navbar-header">
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-lmlogo" })
                <h4 class="sub-headding">Schedule Manager</h4>                
            </h2>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Edit Schedule", "Login", "Home")</li>
                    <li>@if (Model.SessionId != null) { @(Html.ActionLink("Refresh AtTask Cache", "Update", "Home")) }</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -  <a href="http://www.lightmaker.com/" target="_blank">Lightmaker Group</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
