﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Shared Layout Styles */
.navbar-lmlogo {
    background: url(../img/logo-lightmaker.png) no-repeat right center;
    display: block;
    height: 100%;
    width: 100%;
}

h2.navbar-header {
    background: url(../img/logo-lightmaker-text.png) no-repeat left center;
    color: #fff;
    height: 80px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: -9999px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    width: 231px;
}

.navbar-inverse {
    background-color: #000;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-left: 30px;
}

.container > .navbar-header {
    margin-bottom: 20px;
}

.sub-headding {
    color: #FFF;
    left: -200px;
    position: relative;
    top: 50px;
}

.jumbotron {
    padding-top: 75px;
}

.admin-breadcrumb{
    font-size: 15px;
}
/* END: Shared Layout Styles */

/* Schedule Table Styles */
.schedule-table {
    font-size: 15px;
    border: 2px solid #5f5f5f;
}

.schedule-table > tbody > tr > th {
    padding: 2.5px 10px;
    border: 1px solid #5f5f5f;
    background-color: #8f8f8f;
    color: white;
}

.schedule-table > tbody > tr > td {
    padding: 2.5px 10px;
    border: 1px solid #5f5f5f;
}
/* END: Schedule Table Styles */

/* Login Page Styles */
.field-container {
    padding: 15px;
    font-size: 15px;
}

.field-container > label {
    width: 85px;
}

.field-container > .form-control {
    display: inline;
}

.login-btn {
    left: 321px;
    position: relative;
}
/* END: Login Page Styles */

/* Team Select Page Styles */
.team-btn{
    height:50px;
    margin:10px;
    width:150px;
}
/* END: Team Select Page Styles */

/* User Select Page Styles */
.user-container{
    margin-left: 40px;
}

.user-list{
    list-style-type: circle;
}
/* END: User Select Page Styles */

/* Edit Page Styles */
.edit-schedule-row{
    padding-top: 15px;
    padding-bottom: 5px;
}

.work-table {
    font-size: 15px;
    border: 2px solid #5f5f5f;
}

.work-table > tbody > tr > th {
    padding: 2.5px 10px;
    border: 1px solid #5f5f5f;
    background-color: #8f8f8f;
    color: white;
}

.work-table > tbody > tr > td {
    padding: 5px 10px;
    border: 1px solid #5f5f5f;
}

.week-table-heading {
    width: 100%;
    display: inline;
}
.week-table-heading > span.schedule-heading{
    font-size: 18px;
}

.week-table-heading > span.dates{
    float: right;
}

.new-entry-container{
    max-width: 650px;
    margin: 20px 60px;
    padding: 3px 8px;
    border: 2px solid;
    border-color: #5f5f5f;
    border-radius: 5px;
    background-color: #ddd
}

.inner-form{
    padding: 5px 45px;
}

.task-list{
    max-width: 500px;
    width: 100%;
}

.hours-assign > .inner-form{
    font-size: 15px;
}

.task-assign{
    display: none;
}

.hours-assign{
    display: none;
}
/* END: Edit Page Styles */