﻿@model LightmakerScheduleManager.Models.Admin.TeamsViewModel
@{
    ViewBag.Title = "Team Select";
}

<div class="jumbotron">
    <div class="admin-breadcrumb">
        <p>Teams</p>
    </div>
    <div class="page-content">
        <h3><b>Lightmaker NA Teams</b></h3>
        <p>Please select a Team's schedule to edit:</p>
        @using (Html.BeginForm())
        {
            <div class="button-container">
            @{
                var index = 0;
                foreach (var team in Model.Teams)
                {
                    if ((index % 2) == 0 && index > 0)
                    {
                        Html.Raw("</div><div class='button-container'>");
                    }
                    <input type="submit" class="btn btn-default team-btn" value="@team.Name" formaction="Users/@team.Id" />
                    index++;
                }
            }
            </div>
        }
    </div>
</div>