﻿@model LightmakerScheduleManager.Models.Admin.UsersViewModel
@{
    ViewBag.Title = "User Select";
}
<div class="jumbotron">
    <div class="admin-breadcrumb">
        <p><a href="Teams">Teams</a> > @Model.Team.Name </p>
    </div>
    <div class="page-content">
        <h3><b>Lightmaker NA @Model.Team.Name Members</b></h3>
        <p>Please select a Team Member's schedule to edit:</p>
        @using (Html.BeginForm())
        {
            <div class="user-container">
                <ul class="user-list">
                    @foreach (var user in Model.Users)
                    {
                        <li><input class="btn btn-default" type="submit" value="@user.Name" formaction="/Edit/Schedule/@user.Id" /></li>
                    }
                </ul>
            </div>
        }
    </div>
</div>